<mat-sidenav-container>
  <mat-sidenav  autoFocus="false" mode="side" [(opened)]="isMenuOpen" class="sidenav">
    <app-navbar></app-navbar>
    <button class="login-button" mat-button (click)="openLoginDialog()">Login</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button class="menu-button" (click)="onSidenavClick()">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <router-outlet></router-outlet>
    <app-game-controls></app-game-controls>
  </mat-sidenav-content>
</mat-sidenav-container>
