<nav>
  <a routerLink="/main" routerLinkActive="active" (click)="closeMenu()">Main page</a>
  <a routerLink="/action-set-a" routerLinkActive="active" (click)="closeMenu()">Action (set A)</a>
  <a routerLink="/action-set-b" routerLinkActive="active" (click)="closeMenu()">Action (set B)</a>
  <a routerLink="/action-set-c" routerLinkActive="active" (click)="closeMenu()">Action (set C)</a>
  <a routerLink="/adjective" routerLinkActive="active" (click)="closeMenu()">Adjective</a>
  <a routerLink="/animal-set-a" routerLinkActive="active" (click)="closeMenu()">Animals (set A)</a>
  <a routerLink="/animal-set-b" routerLinkActive="active" (click)="closeMenu()">Animals (set B)</a>
  <a routerLink="/family" routerLinkActive="active" (click)="closeMenu()">Family members</a>
  <a>Toys</a>
  <a routerLink="/fruits" routerLinkActive="active" (click)="closeMenu()">Fruits</a>
  <a routerLink="/statistics" routerLinkActive="active" (click)="closeMenu()">Statistics page</a>
</nav>
