<nav>
  <a routerLink="/main" routerLinkActive="active">Main page</a>
  <a routerLink="/action-set-a" routerLinkActive="active">Action (set A)</a>
  <a routerLink="/action-set-b" routerLinkActive="active">Action (set B)</a>
  <a routerLink="/action-set-c" routerLinkActive="active">Action (set C)</a>
  <a routerLink="/adjective" routerLinkActive="active">Adjective</a>
  <a a routerLink="/animal-set-a" routerLinkActive="active">Animals (set A)</a>
  <a>Animals (set B)</a>
  <a>Family members</a>
  <a>Toys</a>
  <a routerLink="/fruits" routerLinkActive="active">Fruits</a>
  <a routerLink="/statistics" routerLinkActive="active">Statistics page</a>
</nav>
