<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="categories">categories</th>
    <th mat-sort-header="word">word</th>
    <th mat-sort-header="translation">translation</th>
    <th mat-sort-header="trained">trained</th>
    <th mat-sort-header="correct">correct</th>
    <th mat-sort-header="incorrect">incorrect</th>
    <th mat-sort-header="percentage">percentage</th>
  </tr>

  <tr *ngFor="let word of sortedData">
    <td>{{word.categories}}</td>
    <td>{{word.word}}</td>
    <td>{{word.translation}}</td>
    <td>{{word.trained}}</td>
    <td>{{word.correct}}</td>
    <td>{{word.incorrect}}</td>
    <td>{{word.percentage}}</td>
  </tr>
</table>







