$card-border-color: blue;
// used materials
// https://stackoverflow.com/questions/9604982/backface-visibility-not-working-properly-in-firefox-works-in-safari
// https://www.w3schools.com/howto/howto_css_flip_card.asp
// https://stackoverflow.com/questions/25066819/disable-text-selection-with-angular-directive

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;
  position: relative;
}

.card-container:hover > .card {
  transform: translateZ(2rem);
  -webkit-transform: translateZ(2rem);
  -moz-transform: translateZ(2rem);
  -o-transform: translateZ(2rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}

.card {
  margin: 10px;
  width: 317.69px;
  height: 268px;
  border: 1px solid $card-border-color;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.6s;
  border-radius: 4px;
}

.card-front, .card-back {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 4px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  z-index: 3;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  & .card-image {
    z-index: 4;
  }
}

.card-front {
  z-index: 1;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  & .card-image {
    z-index: 2;
  }
}


.card-container.flipped > .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transform-origin: center;
}

.card-image {
  width: 317.69px;
  height: 218.31px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  & span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
