<div class="card-container" [class.flipped]="isFlipped" (mouseleave)="isFlipped=false">
  <div class="card">
    <div class="card-back" (click)="$event.preventDefault();">
      <div class="card-image"
        [ngStyle]="{
          'background-image': image ? 'url('+ image +')' : 'none',
          'pointer-events': 'none'
        }"
      ></div>
      <div class="card-footer" [ngStyle]="{'pointer-events': 'none'}">
        <span *ngIf="translation">{{ translation }}</span>
      </div>
    </div>
    <div class="card-front" [ngStyle]="{
        'background-image': mode === 'play' ? 'url('+ image +')' : 'none'
      }"
      (click)="game()"
    >
      <div class="card-image"
        [ngStyle]="{'background-image': mode === 'train' ? 'url('+ image +')' : 'none', 'pointer-events': 'none'}"
        (click)="playAudio($event)"
      ></div>
      <div class="card-footer" *ngIf="mode === 'train'">
        <span *ngIf="word" [ngStyle]="{'pointer-events': 'none'}">{{ word }}</span>
        <button mat-icon-button (click)="cardFlip()">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
