$card-border-color: blue;

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;
  position: relative;
}

.card-container:hover > .card {
  transform: translateZ(2rem);
  -webkit-transform: translateZ(2rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}

.card {
  margin: 10px;
  width: 317.69px;
  height: 268px;
  border: 1px solid $card-border-color;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all .5s;
  border-radius: 4px;
  // used https://stackoverflow.com/questions/9604982/backface-visibility-not-working-properly-in-firefox-works-in-safari
  -moz-backface-visibility: hidden;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
}

.card-back {
  z-index: 1;
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-front {
  z-index: 2;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.card-container.flipped > .card {
  transform: rotateX(-180deg);
  // -webkit-transform: rotateX(-180deg);
}

.card-image {
  width: 317.69px;
  height: 218.31px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
